.inner_footer{
    width: 100%;
    min-width: 350px;
    height: 5vh;
    color: white;
    background-color: rgb(71, 71, 71);
    margin: 0 auto;
    display: flex;
    justify-content:center;
    align-items:center;
}